@import url('https://fonts.googleapis.com/css?family=Amiri|Lato:400,700|PT+Serif:700i|Ramaraja|Work+Sans:600|Yrsa:400,500');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');
@import url(../fonts/stylesheet.css);
select>option,.copyright,p.partner-description,.footer-nav-item>a,li.nav-item,li.writers-nav-item,li.footer-nav-item,span.lit-news-date,.writer-link>a,.shop-nav-item>a,#footer-submit,#footer-subscribe::placeholder,.writers-nav-item>a{
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Yrsa', serif;
}
h2,h3,h4,p.lit-news-description,p.news-bottom-description{
    font-family: 'Ramaraja', serif;
}
a{
    text-decoration: none;
}
.prev-slide-number,.next-slide-number,.show-more,.coming-date{
    font-family: 'Lato Semibold', serif;
}
.book-author,.lit-news-author,.book-price,.writer-born-info,.coming-on,.discount-info>span{
    font-family: 'Amiri', serif;
}
.book-rating>a,.coming-rating,.buy-count{
    font-family: 'Work Sans', sans-serif;
}
.writer-quote{
    font-family: 'PT Serif', serif;
}
